<div class="w-[100%] my-[20px] flex justify-center items-center" >
  <div class="w-[95%] md:w-[60%]  bg-sky-300 p-[15px] rounded-[15px] " >
    <div class="logo w-full mb-[35px] ">
      <img routerLink="/home" class="w-[100px] h-[60px] cursor-pointer " src="./assets/images/navbar/pngegg (1).png" alt="image ">
    </div>
    <div>
      <form [formGroup]="registerForm" action="">
        <div class="flex flex-col md:flex-row gap-2 items-center">
          <div class="w-full mb-[15px]">
            <label class="block font-medium text-[20px]">UserName</label>
            <input type="text" formControlName="name" class="w-full text-[18px] font-medium border border-black rounded-[10px] bg-white p-[12px]" placeholder="Enter Your name">
            <small *ngIf="registerForm.controls['name'].invalid && registerForm.controls['name'].touched" class="text-red-500">
              * Username is required
            </small>
          </div>

          <div class="w-full mb-[15px]">
            <label class="block font-medium text-[20px]">Email</label>
            <input type="email" formControlName="email" class="w-full text-[18px] font-medium border border-black rounded-[10px] bg-white p-[12px]" placeholder="Enter Your Email">
            <small *ngIf="registerForm.controls['email'].invalid && registerForm.controls['email'].touched" class="text-red-500">
              * Enter a valid email
            </small>
          </div>
        </div>

        <div class="flex flex-col md:flex-row gap-2 items-center">
          <div class="w-full mb-[15px]">
            <label class="block font-medium text-[20px]">Date</label>
            <input type="date" formControlName="dateOfBirth" class="w-full text-[18px] font-medium border border-black rounded-[10px] bg-white p-[12px]">
            <small *ngIf="registerForm.controls['dateOfBirth'].invalid && registerForm.controls['dateOfBirth'].touched" class="text-red-500">
              * Date is required
            </small>
          </div>

          <!-- <div class="w-full mb-[15px]">
            <label class="block font-medium text-[20px]">Age</label>
            <input type="number" formControlName="age" class="w-full text-[18px] font-medium border border-black rounded-[10px] bg-white p-[12px]" placeholder="Enter Your Age">
            <small *ngIf="registerForm.controls['age'].invalid && registerForm.controls['age'].touched" class="text-red-500">
              * Age must be between 1 and 120
            </small>
          </div> -->
        </div>

        <div class="w-full mb-[15px]">
          <label class="block font-medium text-[20px]">National ID</label>
          <input type="text" formControlName="nationalId" class="w-full text-[18px] font-medium border border-black rounded-[10px] bg-white p-[12px]" placeholder="Enter Your National ID">
          <small *ngIf="registerForm.controls['nationalId'].invalid && registerForm.controls['nationalId'].touched" class="text-red-500">
            * National ID is required
          </small>
        </div>

      <div class="w-full relative mt-4">
          <label class="block mb-2 font-medium text-lg" for="password">
            Password
          </label>
          <input
            formControlName="password"
            [type]="showPassword ? 'text' : 'password'"
            class="w-[100%] text-[18px] font-medium border border-black rounded-[10px] bg-white p-[12px]"
            placeholder="Enter your password"
          />
          <i
          [ngClass]="{
            'fa-solid fa-eye-slash': !showPassword,
            'fa-regular fa-eye': showPassword,
            'right-[20px]': !isRtl(),
            'left-[20px]': isRtl()
          }"

          (click)="showIcon()"
          class="cursor-pointer absolute  top-[50%] translate-y-[50%]  "></i>
          <small *ngIf="registerForm.controls['password'].invalid || (registerForm.controls['password'].dirty || registerForm.controls['password'].touched)" class="text-red-500">
            * Password is required and must be at least 6 characters long.
          </small>
        </div>

        <div class="my-[20px] flex justify-between items-center">
          <div class="flex gap-[10px] items-center">
            <input type="checkbox" >
            <p class="text-[18px] font-medium">By signing up, you are agreeing to our Terms & Conditions and <span class="text-secondColor">Privacy Policy</span></p>
          </div>
          <!-- <small *ngIf="registerForm.controls['terms'].invalid && registerForm.controls['terms'].touched" class="text-red-500">
            * You must accept the terms
          </small> -->
        </div>
      </form>
      <!-- لرفع صوره البطاقه -->
      <div>
        <label for="uploadFile" class="bg-[#6282F78F] text-white w-full font-semibold text-xl rounded flex flex-col items-center justify-center cursor-pointer border-2 border-gray-300 border-dashed p-[20px] mx-auto font-[sans-serif]">

          <span> Upload Img  </span>
          <input type="file" id="uploadFile" class="hidden" accept="image/*" (change)="previewImage($event)" />

          <!-- عرض الصورة المرفوعة -->
          <div *ngIf="showimage" class="mt-4 w-[150px] ">
            <!-- <h3>الصورة المرفوعة:</h3> -->
            <img class="w-[150px] h-[150px] "  [src]="showimage" alt="image" class="w-full" />
          </div>
        </label>
      </div>
      <!-- للالتقاط صوره -->
      <div class="w-full mt-[20px] " >
        <div class="flex flex-col md:flex-row gap-5 justify-between items-center" >
          <div class="w-full" >
            <video *ngIf="!imageCamera" #video width="250" height="250" autoplay></video>
          </div>
          <div class="w-full text-right" >
            <img width="300" height="300"  *ngIf="imageCamera" [src]="imageCamera" alt="Captured Image" />
          </div>
        </div>
        <button  (click)="openCamera()" class="bg-normalColor text-white p-[10px] rounded-[10px] font-medium text-[18px] m-[15px] "  > Open Camera </button>
        <button (click)="capturePhoto()" *ngIf="isCameraOpen" class="bg-normalColor text-white p-[10px] rounded-[10px] font-medium text-[18px] m-[15px] "> Take A Photo</button>
      </div>

      <!-- <div class="my-[20px] flex justify-between items-center " >
        <div class="flex gap-[10px] items-center" >
          <input type="checkbox"  >
          <p class="text-[18px] font-medium " >
            By signing up, you are agreeing to our Terms & Conditions and <span class="text-secondColor" >Privacy Policy</span>
          </p>
        </div>
      </div> -->
      <!-- Button Sign Up -->
      <div>
        <button (click)="registerUser()"


        class=" w-full my-[20px] text-[20px] font-medium bg-secondColor border border-secondColor text-white  lg:px-[25px] py-[10px] rounded-full " >
          Sign Up
        </button>
      </div>

       <!-- [disabled]="
          !registerForm.valid ||
          registerForm.get('selfiePhoto')?.value === '' ||
          registerForm.get('nationalIdPhoto')?.value === ''
        "

                [disabled]="
          !registerForm.valid ||
          registerForm.get('selfiePhoto')?.value === '' ||
          registerForm.get('nationalIdPhoto')?.value === ''
        "

        -->
      <div>
        <p class="text-[18px] font-medium  " >
          Already have an Account?
          <a routerLink="/login" class="text-secondColor font-medium" >Sign In</a>
        </p>
      </div>
      <div class="text-center my-[25px] " >
        <p class=" text-[18px] font-medium relative after:content-[''] after:absolute after:w-[30%] md:after:w-[37%]  after:h-[1px] after:bg-secondColor after:top-[50%] after:right-0 after:ml-[10px] before:content-[''] before:absolute before:w-[30%] md:before:w-[37%]  before:h-[1px] before:bg-secondColor before:top-[50%]   before:left-0  " >
          Or Sign In with
        </p>
      </div>
      <div class="flex justify-center gap-5 mt-5">
        <a href="">
          <img  class="w-[22px] md:w-[32px] lg:w-[36px] " src="./assets/images/login/google.svg" alt="image">
        </a>
        <a href="">
          <img  class="w-[22px] md:w-[32px] lg:w-[36px] " src="./assets/images/login/linkedin.svg" alt="image">
        </a>
        <a href="">
          <img  class="w-[22px] md:w-[32px] lg:w-[36px] " src="./assets/images/login/apple.svg" alt="image">
        </a>
      </div>
    </div>
  </div>
</div>
