<section>
  <div class="container">
    <div class="text-center bg-bgstartnow py-[15px] rounded-[15px] " >
      <h3 data-aos="fade-down" data-aos-delay="200" class="text-[18px] leading-[20px] md:text-[23px] md:leading-[25px]  lg:text-[30px] lg:leading-[30px] font-medium " >
        {{'startnow.title' | translate}}
      </h3>
      <div class="flex flex-col md:flex-row  justify-center px-[20px] gap-[15px] md:gap-[90px] mt-[20px] " >
        <button data-aos="flip-left" data-aos-delay="200" class=" mx-[15px] text-[16px] leading-[20px]  font-medium text-black border border-secondColor bg-[#0D6EFD] px-[15px] py-[10px] rounded-[20px] " >
          {{'startnow.button1' | translate}}
        </button>
        <button data-aos="flip-right" data-aos-delay="200" class="text-[16px] leading-[20px]  font-medium text-black border border-secondColor bg-secondColor px-[15px] py-[10px] rounded-[20px] "  >
          {{'startnow.button2' | translate}}
        </button>
      </div>
    </div>
  </div>
</section>
