<section>
  <div class=" bg-[#F7F7F7] py-[15px] md:py-[30px] ">
    <div class="container">
      <div class="text-center " >
        <h3 data-aos="zoom-in" class=" text-[#000000] text-[25px] leading-[30px] md:text-[40px] md:leading-[50px]  lg:text-[50px] lg:leading-[70px] font-semibold " >
          {{'about.review.title' | translate}}
        </h3>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 mt-[50px]" >
          <div data-aos="fade-up"
          data-aos-delay="200" class="box py-[15px] px-[10px] lg:py-[20px] lg:px-[15px] rounded-[20px] " >
            <div>
              <img class="block mx-auto" src="assets/images/about/Ellipse 872.png" alt="Image">
            </div>
            <h4 class="text-[#333333] text-[20px] leading-[25px] md:text-[22px] md:leading-[28px]  lg:text-[25px] lg:leading-[30px] font-bold mt-[20px]" >
              {{'about.review.name' | translate}}
            </h4>
            <p class="text-[#666666] text-[16px] leading-[20px] md:text-[18px] md:leading-[25px] lg:text-[20px] lg:leading-[28px] mt-[10px]" >
              {{'about.review.desc' | translate}}
            </p>
          </div>
          <div data-aos="fade-up"
          data-aos-delay="400" class="box py-[15px] px-[10px] lg:py-[20px] lg:px-[15px] rounded-[20px] " >
            <div>
              <img class="block mx-auto" src="assets/images/about/Ellipse 872 (1).png" alt="Image">
            </div>
            <h4 class="text-[#333333] text-[20px] leading-[25px] md:text-[22px] md:leading-[28px]  lg:text-[25px] lg:leading-[30px] font-bold mt-[20px]" >
              {{'about.review.desc2' | translate}}
            </h4>
            <p class="text-[#666666] text-[16px] leading-[20px] md:text-[18px] md:leading-[25px] lg:text-[20px] lg:leading-[28px] mt-[10px]" >
              {{'about.review.desc3' | translate}}
            </p>
          </div>
          <div data-aos="fade-up"
          data-aos-delay="600" class="box py-[15px] px-[10px] lg:py-[20px] lg:px-[15px] rounded-[20px] " >
            <div>
              <img class="block mx-auto" src="assets/images/about/Ellipse 872 (2).png" alt="Image">
            </div>
            <h4 class="text-[#333333] text-[20px] leading-[25px] md:text-[22px] md:leading-[28px]  lg:text-[25px] lg:leading-[30px] font-bold mt-[20px]" >
            {{'about.review.desc4' | translate}}
            </h4>
            <p class="text-[#666666] text-[16px] leading-[20px] md:text-[18px] md:leading-[25px] lg:text-[20px] lg:leading-[28px] mt-[10px]" >
              {{'about.review.desc5' | translate}}
            </p>
          </div>
          <div data-aos="fade-up"
          data-aos-delay="800" class="box py-[15px] px-[10px] lg:py-[20px] lg:px-[15px] rounded-[20px] " >
            <div>
              <img class="block mx-auto" src="assets/images/about/Ellipse 872 (3).png" alt="Image">
            </div>
            <h4 class="text-[#333333] text-[20px] leading-[25px] md:text-[22px] md:leading-[28px]  lg:text-[25px] lg:leading-[30px] font-bold mt-[20px]" >
            {{'about.review.desc4' | translate}}
            </h4>
            <p class="text-[#666666] text-[16px] leading-[20px] md:text-[18px] md:leading-[25px] lg:text-[20px] lg:leading-[28px] mt-[10px]" >
              {{'about.review.desc5' | translate}}
            </p>
          </div>
          <div data-aos="fade-up"
          data-aos-delay="1000" class="box py-[15px] px-[10px] lg:py-[20px] lg:px-[15px] rounded-[20px] " >
            <div>
              <img class="block mx-auto" src="assets/images/about/Ellipse 872 (4).png" alt="Image">
            </div>
            <h4 class="text-[#333333] text-[20px] leading-[25px] md:text-[22px] md:leading-[28px]  lg:text-[25px] lg:leading-[30px] font-bold mt-[20px]" >
            {{'about.review.desc4' | translate}}
            </h4>
            <p class="text-[#666666] text-[16px] leading-[20px] md:text-[18px] md:leading-[25px] lg:text-[20px] lg:leading-[28px] mt-[10px]" >
              {{'about.review.desc5' | translate}}
            </p>
          </div>
          <div data-aos="fade-up"
          data-aos-delay="1200" class="box py-[15px] px-[10px] lg:py-[20px] lg:px-[15px] rounded-[20px] " >
            <div>
              <img class="block mx-auto" src="assets/images/about/Ellipse 872 (5).png" alt="Image">
            </div>
            <h4 class="text-[#333333] text-[20px] leading-[25px] md:text-[22px] md:leading-[28px]  lg:text-[25px] lg:leading-[30px] font-bold mt-[20px]" >
            {{'about.review.desc4' | translate}}
            </h4>
            <p class="text-[#666666] text-[16px] leading-[20px] md:text-[18px] md:leading-[25px] lg:text-[20px] lg:leading-[28px] mt-[10px]" >
              {{'about.review.desc5' | translate}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
