<section>
  <div class=" bg-[#F7F7F7] py-[15px] md:py-[30px] ">
    <div class="container">
      <div class="text-center " >
        <h3 class=" text-[#000000] text-[25px] leading-[30px] md:text-[40px] md:leading-[50px]  lg:text-[50px] lg:leading-[70px] font-semibold " >
          What voters say
        </h3>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 mt-[50px]" >
          <div class="box py-[15px] px-[10px] lg:py-[20px] lg:px-[15px] rounded-[20px] " >
            <div>
              <img class="block mx-auto" src="assets/images/about/Ellipse 872.png" alt="Image">
            </div>
            <h4 class="text-[#333333] text-[20px] leading-[25px] md:text-[22px] md:leading-[28px]  lg:text-[25px] lg:leading-[30px] font-bold mt-[20px]" >
              Ahmed Samir
            </h4>
            <p class="text-[#666666] text-[16px] leading-[20px] md:text-[18px] md:leading-[25px] lg:text-[20px] lg:leading-[28px] mt-[10px]" >
              This platform has been the essence for a completely different reason where accurate information is specified
            </p>
          </div>
          <div class="box py-[15px] px-[10px] lg:py-[20px] lg:px-[15px] rounded-[20px] " >
            <div>
              <img class="block mx-auto" src="assets/images/about/Ellipse 872 (1).png" alt="Image">
            </div>
            <h4 class="text-[#333333] text-[20px] leading-[25px] md:text-[22px] md:leading-[28px]  lg:text-[25px] lg:leading-[30px] font-bold mt-[20px]" >
              Get election results in real time
            </h4>
            <p class="text-[#666666] text-[16px] leading-[20px] md:text-[18px] md:leading-[25px] lg:text-[20px] lg:leading-[28px] mt-[10px]" >
              Follow official statistics directly from reliable sources
            </p>
          </div>
          <div class="box py-[15px] px-[10px] lg:py-[20px] lg:px-[15px] rounded-[20px] " >
            <div>
              <img class="block mx-auto" src="assets/images/about/Ellipse 872 (2).png" alt="Image">
            </div>
            <h4 class="text-[#333333] text-[20px] leading-[25px] md:text-[22px] md:leading-[28px]  lg:text-[25px] lg:leading-[30px] font-bold mt-[20px]" >
              Easily locate polling stations
            </h4>
            <p class="text-[#666666] text-[16px] leading-[20px] md:text-[18px] md:leading-[25px] lg:text-[20px] lg:leading-[28px] mt-[10px]" >
              Use our solid polling station map
            </p>
          </div>
          <div class="box py-[15px] px-[10px] lg:py-[20px] lg:px-[15px] rounded-[20px] " >
            <div>
              <img class="block mx-auto" src="assets/images/about/Ellipse 872 (3).png" alt="Image">
            </div>
            <h4 class="text-[#333333] text-[20px] leading-[25px] md:text-[22px] md:leading-[28px]  lg:text-[25px] lg:leading-[30px] font-bold mt-[20px]" >
              Easily locate polling stations
            </h4>
            <p class="text-[#666666] text-[16px] leading-[20px] md:text-[18px] md:leading-[25px] lg:text-[20px] lg:leading-[28px] mt-[10px]" >
              Use our solid polling station map
            </p>
          </div>
          <div class="box py-[15px] px-[10px] lg:py-[20px] lg:px-[15px] rounded-[20px] " >
            <div>
              <img class="block mx-auto" src="assets/images/about/Ellipse 872 (4).png" alt="Image">
            </div>
            <h4 class="text-[#333333] text-[20px] leading-[25px] md:text-[22px] md:leading-[28px]  lg:text-[25px] lg:leading-[30px] font-bold mt-[20px]" >
              Easily locate polling stations
            </h4>
            <p class="text-[#666666] text-[16px] leading-[20px] md:text-[18px] md:leading-[25px] lg:text-[20px] lg:leading-[28px] mt-[10px]" >
              Use our solid polling station map
            </p>
          </div>
          <div class="box py-[15px] px-[10px] lg:py-[20px] lg:px-[15px] rounded-[20px] " >
            <div>
              <img class="block mx-auto" src="assets/images/about/Ellipse 872 (5).png" alt="Image">
            </div>
            <h4 class="text-[#333333] text-[20px] leading-[25px] md:text-[22px] md:leading-[28px]  lg:text-[25px] lg:leading-[30px] font-bold mt-[20px]" >
              Easily locate polling stations
            </h4>
            <p class="text-[#666666] text-[16px] leading-[20px] md:text-[18px] md:leading-[25px] lg:text-[20px] lg:leading-[28px] mt-[10px]" >
              Use our solid polling station map
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
