<section>
  <div class=" bg-[#F7F7F7] py-[15px] md:py-[30px] ">
    <div class="container">
      <div class="text-center " >
        <h3 data-aos="zoom-in" class=" text-[#000000] text-[25px] leading-[30px] md:text-[40px] md:leading-[50px]  lg:text-[50px] lg:leading-[70px] font-semibold relative after:absolute after:content-[''] after:w-[100%] sm:after:w-[70%] lg:after:w-[50%]  after:h-[3px] after:bg-secondColor after:bottom-[-10px] after:left-[50%] after:translate-x-[-50%] " >
          {{'about.mainfeatures.section_title' | translate}}
        </h3>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 mt-[50px]" >
          <div data-aos="fade-up"
          data-aos-duration="1000" class="box py-[15px] px-[10px] lg:py-[20px] lg:px-[15px] rounded-[20px] " >
            <div>
              <img class="block mx-auto" src="assets/images/about/Magnifying_Glass_Plus.png" alt="Image">
            </div>
            <h4 class="text-[#333333] text-[20px] leading-[25px] md:text-[22px] md:leading-[28px]  lg:text-[25px] lg:leading-[30px] font-bold mt-[20px]" >
              {{'about.mainfeatures.feature_1' | translate}}
            </h4>
            <p class="text-[#666666] text-[16px] leading-[20px] md:text-[18px] md:leading-[25px] lg:text-[20px] lg:leading-[28px] mt-[10px]" >
              {{'about.mainfeatures.feature_1_desc' | translate}}
            </p>
          </div>
          <div data-aos="fade-up"
          data-aos-duration="2000" class="box py-[15px] px-[10px] lg:py-[20px] lg:px-[15px] rounded-[20px] " >
            <div>
              <img class="block mx-auto" src="assets/images/about/time-clock_svgrepo.com.png" alt="Image">
            </div>
            <h4 class="text-[#333333] text-[20px] leading-[25px] md:text-[22px] md:leading-[28px]  lg:text-[25px] lg:leading-[30px] font-bold mt-[20px]" >
              {{'about.mainfeatures.feature_2' | translate}}
            </h4>
            <p class="text-[#666666] text-[16px] leading-[20px] md:text-[18px] md:leading-[25px] lg:text-[20px] lg:leading-[28px] mt-[10px]" >
              {{'about.mainfeatures.feature_2_desc' | translate}}
            </p>
          </div>
          <div data-aos="fade-up"
          data-aos-duration="3000" class="box py-[15px] px-[10px] lg:py-[20px] lg:px-[15px] rounded-[20px] " >
            <div>
              <img class="block mx-auto" src="assets/images/about/map-location-pin_svgrepo.com.png" alt="Image">
            </div>
            <h4 class="text-[#333333] text-[20px] leading-[25px] md:text-[22px] md:leading-[28px]  lg:text-[25px] lg:leading-[30px] font-bold mt-[20px]" >
              {{'about.mainfeatures.feature_3' | translate}}
            </h4>
            <p class="text-[#666666] text-[16px] leading-[20px] md:text-[18px] md:leading-[25px] lg:text-[20px] lg:leading-[28px] mt-[10px]" >
              {{'about.mainfeatures.feature_3_desc' | translate}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
