<div class="mt-[15px]  w-[95%] mx-auto  " >

  <!-- Add Admin Button -->
  <div class="mb-6 text-right ">
    <button (click)="openAddModal()" class="bg-blue-600 text-white px-5 py-2 rounded hover:bg-blue-700 transition">
      + Add Admin
    </button>
  </div>

  <!-- Modal -->
  <div *ngIf="showModal" class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50">
    <div class="bg-white p-8 rounded-2xl shadow-2xl w-[60%] mx-auto relative">

      <div class="flex justify-between items-center mb-4 ">
        <h2 class="text-xl font-semibold mb-4">{{ mode ? 'Edit Admin' : 'Add Admin' }}</h2>

        <div
          class=" bg-red-500 hover:bg-red-600 text-white w-8 h-8 flex items-center justify-center rounded-full shadow-md cursor-pointer transition-all duration-300"
          (click)="closeModal()">
          ✕
        </div>

      </div>

      <!-- Form with styling and validation -->
      <form [formGroup]="adminForm" (ngSubmit)="addOrUpdateAdmin()" class="space-y-4">

        <!-- Name -->
        <div class="flex flex-col">
          <label class="text-[18px] font-medium text-gray-700 mb-1">City</label>
          <input type="text" formControlName="name" placeholder="Enter Your name"
            class="w-full border px-4 py-2 rounded focus:outline-none focus:ring-2 focus:ring-blue-500" />
          <small *ngIf="adminForm.get('name')?.touched && adminForm.get('name')?.errors?.['required']"
            class="text-red-500 mt-1">City is required</small>
        </div>

        <!-- Start Date -->
        <div class="flex flex-col">
          <label class="text-[18px] font-medium text-gray-700 mb-1">Start Date</label>
          <input type="date" formControlName="startDate"
            class="w-full border px-4 py-2 rounded focus:outline-none focus:ring-2 focus:ring-blue-500" />
          <small *ngIf="adminForm.get('startDate')?.touched && adminForm.get('startDate')?.errors?.['required']"
            class="text-red-500 mt-1">Start Date is required</small>
        </div>

        <!-- End Date -->
        <div class="flex flex-col">
          <label class="text-[18px] font-medium text-gray-700 mb-1">End Date</label>
          <input type="date" formControlName="endDate"
            class="w-full border px-4 py-2 rounded focus:outline-none focus:ring-2 focus:ring-blue-500" />
          <small *ngIf="adminForm.get('endDate')?.touched && adminForm.get('endDate')?.errors?.['required']"
            class="text-red-500 mt-1">End Date is required</small>
        </div>



        <!-- Buttons -->
        <div class="flex justify-between mt-4">
          <button type="submit"
            class="bg-green-600 cursor-pointer disabled:hover:bg-green-600 disabled:cursor-not-allowed disabled:opacity-[0.5] text-white w-[40%] px-5 py-2 rounded hover:bg-green-700 transition"
            (click)="addOrUpdateAdmin()">
            {{ mode ? 'Update' : 'Add' }}
          </button>
          <button type="button" (click)="closeModal()"
            class="bg-gray-500 cursor-pointer text-white px-5 py-2 rounded hover:bg-gray-600 transition">
            Cancel
          </button>
        </div>
      </form>

    </div>
  </div>

  <!-- Admins Table -->
  <table class="w-full bg-white shadow rounded overflow-hidden text-center">
    <thead class="bg-gray-100 text-gray-700">
      <tr>
        <th class="py-2 px-4">#</th>
        <th class="py-2 px-4">Name</th>
        <th class="py-2 px-4">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let admin of admins ; trackBy : trackBy ;let i = index" class="border-b">
        <td class="py-2 px-4 align-middle ">{{ i + 1 }}</td>
        <td class="py-2 px-4 align-middle ">{{ admin.name }}</td>
        <td class="py-3 px-4 text-center align-middle">
          <div class="flex justify-center items-center space-x-2">
            <button (click)="showAdmin(admin)"
              class="bg-blue-600 text-white px-3 py-1 rounded hover:bg-blue-700">Show</button>
            <button (click)="editAdmin(admin)"
              class="bg-yellow-400 text-white px-3 py-1 rounded hover:bg-yellow-500">Edit</button>
            <button (click)="deleteAdmin(admin.$id)"
              class="bg-red-600 text-white px-3 py-1 rounded hover:bg-red-700">Delete</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

</div>
