<section class="mt-[60px]">
  <div class="container">

    <div *ngIf="token ; else content ">
      <div class="text-center mb-[20px] font-medium text-[25px] ">
        <h3 data-aos="zoom-in" data-aos-delay="100">
          {{'typeelection.title' | translate}}
        </h3>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 items-center ">
        <div *ngFor="let item of data" data-aos="fade-right" data-aos-delay="200"
          class="shadow-custom text-center p-[30px] bg-white rounded-[20px] ">
          <h4 class="text-[#0D6EFD] font-semibold text-[25px] leading-[30px] ">
            <!-- {{'typeelection.name1' | translate}} -->
            {{item.name}}
          </h4>
          <div class="w-[150px] h-[150px] mx-auto my-[20px]">
            <img src="./assets/images/candidates/politic_18279076.png" alt="image">
          </div>
          <button routerLink="/presidential"
            class=" my-[20px] text-[20px] font-medium bg-secondColor  text-white px-[20px] py-[10px] rounded-[20px] ">
            {{'typeelection.button' | translate}}
          </button>
        </div>
        <!-- <div data-aos="fade-up" data-aos-delay="400"
          class="shadow-custom text-center p-[30px] bg-bgTypeElection rounded-[20px] ">
          <h4 class="text-black font-semibold text-[25px] leading-[30px] ">
            {{'typeelection.name2' | translate}}
          </h4>
          <div class="w-[150px] h-[150px] mx-auto my-[20px]">
            <img src="./assets/images/candidates/receptionist_7953968 1.png" alt="image">
          </div>
          <button routerLink="/senate"
            class=" my-[20px] text-[20px] font-medium bg-[#417AD1]  text-white px-[20px] py-[10px] rounded-[20px] ">
            {{'typeelection.button' | translate}}
          </button>
        </div>
        <div data-aos="fade-left" data-aos-delay="200"
          class="shadow-custom text-center p-[30px] bg-[#0D6EFD] rounded-[20px] ">
          <h4 class="text-white font-semibold text-[25px] leading-[30px] ">
            {{'typeelection.name3' | translate}}
          </h4>
          <div class="w-[150px] h-[150px] mx-auto my-[20px]">
            <img src="./assets/images/candidates/candidates_2673021 1.png" alt="image">
          </div>
          <button routerLink="/peopleAssembly"
            class=" my-[20px] text-[20px] font-medium bg-white  text-black px-[20px] py-[10px] rounded-[20px] ">
            {{'typeelection.button' | translate}}
          </button>
        </div> -->
      </div>
    </div>

  </div>
</section>


<ng-template #content>

  <div class="mt-[60px]">
    <h2 class="text-center mb-[20px] font-medium text-[25px] md:text-[35px] ">
      {{'notLogin.title' | translate}}
    </h2>
    <div class="text-center">
      <button
        class="mx-auto w-[20%]  text-[20px] md:text-[30px] font-medium bg-secondColor  text-white px-[20px] py-[10px] rounded-[20px] ">
        <a routerLink="/login">
          {{'notLogin.btn' | translate}}
        </a>
      </button>
    </div>
  </div>

</ng-template>
