<section>
  <div class="container">
    <div class="text-center my-[20px] font-medium text-[25px] " >
      Election Stages
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 items-center   rounded-[15px] bg-bgStagesHome " >
      <div data-aos="fade-up" data-aos-delay="200" class=" text-center py-[20px]   " >
        <i class="fa-solid fa-pen-to-square text-[25px] "></i>
        <div class="w-[60px] h-[60px] rounded-full mx-auto bg-[#007AFF] my-[20px] " ></div>
        <p class="my-[20px] text-[#121212] text-[18px] leading-[22px] md:text-[18px] md:leading-[25px] lg:text-[20px] lg:leading-[28px] " >
          Start your registration online
        </p>
      </div>
      <div data-aos="fade-up" data-aos-delay="400" class=" text-center py-[20px] border-b border-t md:border-b-0 md:border-t-0 md:border-l md:border-r border-[#999999]  " >
        <i class="fa-solid fa-vote-yea text-[25px] "></i>
        <div class="w-[60px] h-[60px] rounded-full mx-auto bg-[#6C63FF] my-[20px] " ></div>
        <p class="my-[20px] text-[#121212] text-[18px] leading-[22px] md:text-[18px] md:leading-[25px] lg:text-[20px] lg:leading-[28px] " >
          Participate on voting day
        </p>
      </div>
      <div data-aos="fade-up" data-aos-delay="600" class=" text-center py-[20px]   " >
        <i class="fa-solid fa-trophy text-[25px] "></i>
        <div class="w-[60px] h-[60px] rounded-full mx-auto bg-white my-[20px] " ></div>
        <p class="my-[20px] text-[#121212] text-[18px] leading-[22px] md:text-[18px] md:leading-[25px] lg:text-[20px] lg:leading-[28px] " >
          Verify the final results
        </p>
      </div>


    </div>
  </div>
</section>
