<header class="bg-[#F7F7F7]" >
  <div class="container py-[15px] " >
    <div class="flex justify-between items-center" >
      <h2 class="text-[#2C3E50] font-bold text-[30px] leading-[35px] " >
        Admin Dashboard
      </h2>

      <div class="flex flex-row-reverse justify-between items-center" >
        <div class=" w-[50px] h-[50px] rounded-full " >
          <img class="w-[100%] h-[100%] rounded-full " src="../../../../assets/images/about/Ellipse 872 (2).png" alt="Image">
        </div>
        <div class="flex flex-row-reverse items-center mx-[20px] gap-5 " >
          <i class="fa-solid fa-gear text-[20px] cursor-pointer "></i>
          <i class="fa-solid fa-bell text-[20px] cursor-pointer "></i>
        </div>
      </div>

    </div>
  </div>


</header>
