/* ::ng-deep .owl-carousel .owl-item img {
  width: 60% !important;
  margin: auto auto;
}
:host-context([dir="rtl"]) .slider {
  direction: rtl;
}

:host-context([dir="ltr"]) .slider {
  direction: ltr;
} */
