<section>
  <div class="container">
    <div class="text-center bg-[#0D6EFD] py-[15px] px-[10px] rounded-[15px] " >
      <h3 data-aos="fade-left" data-aos-delay="200" class="text-[18px] leading-[20px] md:text-[20px] md:leading-[28px] lg:text-[20px] lg:leading-[28px] font-medium" >
        {{'steps.title' | translate}}
      </h3>
      <p data-aos="fade-right" data-aos-delay="200" class="my-[20px] text-white w-full md:w-[80%] lg:w-[43%] mx-auto text-[18px] leading-[22px] md:text-[20px] md:leading-[28px] lg:text-[20px] lg:leading-[28px]" >
        {{'steps.description' | translate}}
      </p>
      <div class="flex flex-wrap justify-center my-[20px] " >
        <div data-aos="fade-up" data-aos-delay="200" class="w-[140px] text-center mx-[5px] mt-[15px]  " >
          <div class="mx-auto w-[100px] h-[100px] rounded-full mb-[15px] " >
            <img class="w-[100%] h-[100%] rounded-full " src="./assets/images/Home/StepByStep/Ellipse 221.png" alt="images">
          </div>
          <button class="mx-auto text-[16px] bg-white rounded-[13px] px-[15px] py-[8px] " >
            {{'steps.steps.register' | translate}}
          </button>
        </div>
        <div data-aos="fade-up" data-aos-delay="400" class="w-[140px] text-center mx-[5px] mt-[15px]  " >
          <div class="mx-auto w-[100px] h-[100px] rounded-full mb-[15px] " >
            <img class="w-[100%] h-[100%] rounded-full " src="./assets/images/Home/StepByStep/Ellipse 222.png" alt="images">
          </div>
          <button class="mx-auto text-[16px] bg-[#FCEA2B] rounded-[13px] px-[15px] py-[8px] " >
            {{'steps.steps.verify' | translate}}
          </button>
        </div>
        <div data-aos="fade-up" data-aos-delay="600" class="w-[140px] text-center mx-[5px] mt-[15px]  " >
          <div class="mx-auto w-[100px] h-[100px] rounded-full mb-[15px] " >
            <img class="w-[100%] h-[100%] rounded-full " src="./assets/images/Home/StepByStep/Ellipse 223.png" alt="images">
          </div>
          <button class="mx-auto text-[15px] bg-[#FF3737] rounded-[13px] px-[15px] py-[8px] " >
            {{'steps.steps.polling_station' | translate}}
          </button>
        </div>
        <div data-aos="fade-up" data-aos-delay="800" class="w-[140px] text-center mx-[5px] mt-[15px]  " >
          <div class="mx-auto w-[100px] h-[100px] rounded-full mb-[15px] " >
            <img class="w-[100%] h-[100%] rounded-full " src="./assets/images/Home/StepByStep/Ellipse 224.png" alt="images">
          </div>
          <button class="mx-auto text-[16px] bg-[#6C63FF] rounded-[13px] px-[15px] py-[8px] " >
            {{'steps.steps.vote' | translate}}
          </button>
        </div>
      </div>

    </div>
  </div>
</section>
