<section>
  <div class="container">
    <div class=" bg-bgCandidate py-[20px] px-[10px] rounded-[15px] " >
      <div data-aos="fade-left" data-aos-delay="200" class="text-center my-[25px] font-medium text-[35px] leading-[40px] " >
        {{ 'about.team.title' | translate }}
      </div>
      <div class="slideshome"
      [class.rtl]="currentLang === 'en'" [class.ltr]="currentLang === 'ar'">

        <owl-carousel-o [options]="customOptions">
          <ng-template  carouselSlide>
            <div class="text-center mx-[15px] " >
              <div class="bg-white rounded-[10px] px-[15px] py-[10px]" >
                <div class="px-[15px] sm:px-0 lg:px-[15px] mx-auto " >
                  <!-- <img class="min-w-full  h-[300px] rounded-[15px] " src="assets/images/about/team/mohamedrezk.jpg" alt="image"> -->
                  <img class="min-w-full  h-[300px] rounded-[15px] " src="../../../../assets/images/about/team/mohamed.jpg" alt="image">
                </div>
                <div>
                  <h2 class="text-[#2C3E50] font-semibold text-[20px] lg:text-[24px] leading-[28px] mt-[20px] mb-[10px]  " >
                    Mohamed Rezk
                  </h2>
                  <p class="text-[20px] " >
                    Frontend Developer
                  </p>
                </div>
              </div>
            </div>
          </ng-template>

          <ng-template carouselSlide>
            <div class="text-center mx-[15px] " >
              <div class="bg-white rounded-[10px] px-[15px] py-[10px]" >
                <div class="px-[15px] sm:px-0 lg:px-[15px] mx-auto " >
                  <img class="min-w-full h-[300px] rounded-[15px] " src="assets/images/about/team/youssef.jpg" alt="image">
                </div>
                <div>
                  <h2 class="text-[#2C3E50] font-semibold text-[20px] lg:text-[24px] leading-[28px] mt-[20px] mb-[10px]  " >
                    Yousef Saad
                  </h2>
                  <p class="text-[20px] " >
                    Backend Developer
                  </p>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="text-center mx-[15px] " >
              <div class="bg-white rounded-[10px] px-[15px] py-[10px]" >
                <div class="px-[15px] sm:px-0 lg:px-[15px] mx-auto " >
                  <img class="min-w-full h-[300px] rounded-[15px] " src="assets/images/about/team/amaar.jpg" alt="image">
                </div>
                <div>
                  <h2 class="text-[#2C3E50] font-semibold text-[20px] lg:text-[24px] leading-[28px] mt-[20px] mb-[10px]  " >
                    Ammar Yasser
                  </h2>
                  <p class="text-[20px] " >
                    Flutter Developer
                  </p>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="text-center mx-[15px] " >
              <div class="bg-white rounded-[10px] px-[15px] py-[10px]" >
                <div class="px-[15px] sm:px-0 lg:px-[15px] mx-auto " >
                  <img class="min-w-full h-[300px] rounded-[15px] " src="assets/images/about/team/mohamedelbad.jpg" alt="image">
                </div>
                <div>
                  <h2 class="text-[#2C3E50] font-semibold text-[20px] lg:text-[24px] leading-[28px] mt-[20px] mb-[10px]  " >
                    Mohamed Al-Labbad
                  </h2>
                  <p class="text-[20px] " >
                    UI/UX Designer
                  </p>
                </div>
              </div>
            </div>
          </ng-template>
          <!-- <ng-template carouselSlide>
            <div class="text-center mx-[15px] " >
              <div class="bg-white rounded-[10px] px-[15px] py-[10px]" >
                <div class="px-[15px] sm:px-0 lg:px-[15px] mx-auto " >
                  <img class="min-w-full  " src="./assets/images/Home/candidates/Ellipse 220 (3).png" alt="image">
                </div>
                <div>
                  <h2 class="text-[#2C3E50] font-semibold text-[20px] lg:text-[24px] leading-[28px] mt-[20px] mb-[10px]  " >
                    Ahmed
                  </h2>
                  <p class="text-[20px] " >
                    Financial advisor
                  </p>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="text-center mx-[15px] " >
              <div class="bg-white rounded-[10px] px-[15px] py-[10px]" >
                <div class="px-[15px] sm:px-0 lg:px-[15px] mx-auto " >
                  <img class="min-w-full  " src="./assets/images/Home/candidates/Ellipse 220 (4).png" alt="image">
                </div>
                <div>
                  <h2 class="text-[#2C3E50] font-semibold text-[20px] lg:text-[24px] leading-[28px] mt-[20px] mb-[10px]  " >
                    Ahmed
                  </h2>
                  <p class="text-[20px] " >
                    Financial advisor
                  </p>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="text-center mx-[15px] " >
              <div class="bg-white rounded-[10px] px-[15px] py-[10px]" >
                <div class="px-[15px] sm:px-0 lg:px-[15px] mx-auto " >
                  <img class="min-w-full  " src="./assets/images/Home/candidates/Ellipse 220 (2).png" alt="image">
                </div>
                <div>
                  <h2 class="text-[#2C3E50] font-semibold text-[20px] lg:text-[24px] leading-[28px] mt-[20px] mb-[10px]  " >
                    Ahmed
                  </h2>
                  <p class="text-[20px] " >
                    Financial advisor
                  </p>
                </div>
              </div>
            </div>
          </ng-template> -->
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>
