<header class="bg-normalColor py-[10px] fixed left-0 right-0 w-full z-[9999999999] " >
  <div class="container mx-auto ">
    <div class="flex justify-between items-center ">
      <div class="logo">
        <img routerLink="/home" class="w-[100px] h-[60px] cursor-pointer " src="./assets/images/navbar/pngegg (1).png" alt="image ">
      </div>
      <div class="  lg:hidden block" >
        <i *ngIf="!menuOpen" (click)="toggleMenu()" class="fa-solid fa-bars text-white text-[30px] cursor-pointer "></i>
        <i *ngIf="menuOpen" (click)="toggleMenu()" class="fa-solid fa-xmark text-white text-[30px] cursor-pointer "></i>
      </div>
      <div class="flex flex-col lg:flex-row lg:justify-center items-center lg:static py-[15px]  lg:p-0 absolute bg-normalColor top-[75px] w-[60%] md:w-full left-0 transition-transform duration-300"
      [ngClass]="{'hidden': !menuOpen, 'block': menuOpen, 'lg:flex': true}" >
        <ul class="flex px-[25px] flex-col w-full lg:w-fit lg:flex-row space-y-8 lg:space-y-0 pt-[20px] lg:pt-0  "  >
          <li routerLink="/home" (click)="scrollTop()" class="navLink px-[10px] cursor-pointer  " >
            <!-- <i class="fa-solid fa-house mx-[5px] bg-white p-1 rounded-[5px] "></i> -->
            <a class=" py-[15px] font-medium text-[20px] "  >
              {{'navbar.home' | translate}}
            </a>
          </li>
          <li routerLink="/about" (click)="scrollTop()" class="navLink px-[10px] cursor-pointer  " >
            <!-- <i class="fas fa-info-circle mx-[5px] bg-white p-1 rounded-[5px] "></i> -->
            <a class=" py-[15px] font-medium text-[20px] "  >
              {{'navbar.about' | translate}}
            </a>
          </li>
          <li routerLink="/typeElection" (click)="scrollTop()" class="navLink px-[10px] cursor-pointer  " >
            <!-- <i class="fa-regular fa-file-lines mx-[5px] bg-white p-1 rounded-[5px] "></i> -->
            <a class=" py-[15px] font-medium text-[20px] "  >
              {{'navbar.typeElection' | translate}}
            </a>
          </li>
          <!-- <i class="fa-solid fa-check mx-[5px] bg-white p-1 rounded-[5px] "></i> -->
          <!-- <li routerLink="/result" (click)="scrollTop()" class="navLink px-[10px] cursor-pointer  " >
            <a class=" py-[15px] font-medium text-[20px] "  >
              {{'navbar.result' | translate}}
            </a>
          </li> -->
          <li routerLink="/help" (click)="scrollTop()" class="navLink px-[10px] cursor-pointer  " >
            <!-- <i class="fa-solid fa-circle-info mx-[5px] bg-white p-1 rounded-[5px] "></i> -->
            <a class=" py-[15px] font-medium text-[20px] "  >
              {{'navbar.help' | translate}}
            </a>
          </li>
        </ul>
        <div class="w-full px-[25px] lg:hidden my-[20px] " >
          <div
          (click)="changeLanguage(currentLang === 'ar' ? 'en' : 'ar')"
            class="flex justify-between items-center gap-3 cursor-pointer ">
            <!-- language -->
            <button
            class="text-[20px] px-[10px] text-start font-medium  "
            >
            {{currentLang === 'ar' ? 'EN' : 'AR'}}
          </button>
          </div>
          <div class="w-fit  flex flex-col justify-center space-y-3 lg:space-y-0 py-[20px] lg:py-0  lg:mt-0 " >
            <button *ngIf="token === '' " routerLink="/login" class=" whitespace-nowrap  mx-[15px] text-[20px] font-medium  border border-secondColor px-[55px] lg:px-[25px] py-[10px] rounded-full ">
              {{'navbar.signIn' | translate}}
            </button>
            <button *ngIf="token === '' " routerLink="/register" class="whitespace-nowrap text-[20px] font-medium bg-secondColor border border-secondColor text-white  lg:px-[25px] py-[10px] rounded-full ">
              {{'navbar.signUp' | translate}}
            </button>
            <button *ngIf="token !== '' " (click)="logout()" class=" px-[20px] whitespace-nowrap text-[20px] font-medium bg-red-500 border-none text-white  lg:px-[25px] py-[10px] rounded-full ">
            logOut
          </button>
          </div>
        </div>
      </div>
      <div class="hidden lg:flex " >
        <div
          (click)="changeLanguage(currentLang === 'ar' ? 'en' : 'ar')"
            class="flex justify-between items-center gap-3 cursor-pointer ">
            <!-- language -->
            <button
            class="text-[20px]  font-medium  "
            >
            {{currentLang === 'ar' ? 'EN' : 'AR'}}
          </button>

          <!-- flag -->
          <!-- <div class="w-[30px] h-[30px] " >
            <img *ngIf="flag" src="assets/images/en.svg" alt="English Flag" class="my-auto">
            <img *ngIf="!flag" src="assets/images/ar.svg" alt="Arabic Flag" class="  my-auto">
          </div> -->
          </div>
        <div class=" flex flex-row justify-center space-y-3 lg:space-y-0 py-[20px] lg:py-0 mt-[20px] lg:mt-0 " >
          <button *ngIf="token === '' " routerLink="/login" class=" whitespace-nowrap  mx-[15px] text-[20px] font-medium  border border-secondColor px-[55px] lg:px-[25px] py-[10px] rounded-full ">
            {{'navbar.signIn' | translate}}
          </button>
          <button *ngIf="token === '' " routerLink="/register" class="whitespace-nowrap text-[20px] font-medium bg-secondColor border border-secondColor text-white  lg:px-[25px] py-[10px] rounded-full ">
            {{'navbar.signUp' | translate}}
          </button>

          <button *ngIf="token !== '' " (click)="logout()" class="mx-3 whitespace-nowrap text-[20px] font-medium bg-red-500 border-none text-white  lg:px-[25px] py-[10px] rounded-full ">
            logOut
          </button>

        </div>
      </div>
    </div>
  </div>
</header>
