<div class="h-screen bg-[#F7F7F7]" >
  <div class="p-[20px]  " >
    <div class="w-[80px] h-[50px] " >
      <img class="w-[100%] h-[100%] " src="../../../../assets/images/navbar/pngegg (1).png" alt="Image">
    </div>
    <div class="mt-[50px] " >
      <!-- text-[20px] text-[#0D6EFD] cursor-pointer  -->
      <!-- <div class="flex items-center gap-3 mb-[30px] cursor-pointer " >
        <i class="fa-solid fa-chart-line text-[20px] text-[#0D6EFD]  "></i>
        <h2 class="text-[#0D6EFD] font-bold text-[20px] leading-[25px] " >
          Statistics
        </h2>
      </div> -->
      <div routerLink="/candidatetype" class="flex items-center gap-3 mb-[30px] cursor-pointer " >
        <i class="fa-solid fa-user text-[20px]   "></i>
        <h2 class=" font-bold text-[20px] leading-[25px] " >
          Candidates
        </h2>
      </div>
      <div routerLink="/elections" class="flex items-center gap-3 mb-[30px] cursor-pointer " >
        <i class="fa-solid fa-user text-[20px]   "></i>
        <h2 class=" font-bold text-[20px] leading-[25px] " >
          Elections
        </h2>
      </div>
      <div routerLink="/support" class="flex items-center gap-3 mb-[30px] cursor-pointer " >
        <i class="fa-solid fa-headset text-[20px] "></i>
        <h2 class=" font-bold text-[20px] leading-[25px] " >
          Support
        </h2>
      </div>
      <!-- <div class="flex items-center gap-3 mb-[30px] px-[5px] cursor-pointer " >
        <i class="fa-solid fa-question text-[20px]  "></i>
        <h2 class=" font-bold text-[20px] leading-[25px] " >
          FAQ
        </h2>
      </div> -->
    </div>
  </div>
</div>
