<div class="bg-white py-[20px] " >
  <div class="w-[95%] mx-auto " >
    <div class="flex flex-col md:flex-row  justify-between items-center px-[25px] md:px-0 " >
      <div class="w-full  " >
        <p>
          {{'footer.slogan1' | translate}}
        </p>
        <p>
          {{'footer.slogan2' | translate}}
        </p>
      </div>
      <div class="w-full my-[20px] md:my-0 flex flex-col md:flex-row gap-[20px]" >
        <h4>{{'footer.navigation.home' | translate}}</h4>
        <h4>{{'footer.navigation.registration' | translate}}</h4>
        <h4>{{'footer.navigation.candidates' | translate}}</h4>
        <h4>{{'footer.navigation.vote' | translate}}</h4>
        <h4>{{'footer.navigation.contact_us' | translate}}</h4>
      </div>
      <div class="w-full md:text-right ">
        <i class="fa-brands fa-facebook  text-[25px]"></i>
        <i class="fa-brands fa-square-instagram mx-[15px] text-[25px] "></i>
        <i class="fa-brands fa-square-twitter text-[25px]"></i>
      </div>
    </div>

    <hr class="w-[80%] mx-auto my-[25px] text-[#FFFFFF00] " >

    <div class="flex justify-between items-center mb-[15px]" >
      <p>
        {{'footer.footer.copyright' | translate}}
      </p>
      <p>
        {{'footer.footer.privacy_policy' | translate}}
      </p>
    </div>

  </div>
</div>
