<section>
  <div class=" bg-white py-[15px] md:py-[30px] ">
    <div data-aos="fade-left" class="text-center w-full md:w-[90%] lg:w-[70%] px-[15px] md:px-[0px] mx-auto " >
      <h3 class=" text-[#000000] text-[25px] leading-[30px] md:text-[40px] md:leading-[50px]  lg:text-[50px] lg:leading-[70px] font-semibold" >
        {{'about.ourmission.section_title' | translate}}
      </h3>
      <div class="text-center mt-[5px] mx-auto " >
        <img class="block mx-auto"  src="assets/images/about/Frame.png" alt="Image">
      </div>
      <p class="text-[#000000] my-[20px] text-[22px] leading-[30px] md:text-[30px] md:leading-[45px]  lg:text-[40px] lg:leading-[40px] font-semibold" >
        {{'about.ourmission.mission_description' | translate}}
      </p>
      <button class="btn text-[18px] leading-[25px] md:text-[20px] md:leading-[25px] lg:text-[22px] lg:leading-[28px]  font-medium text-white bg-[#417AD1] px-[15px] py-[10px] rounded-[20px] " >
        {{'about.ourmission.view_more' | translate}}
      </button>
    </div>
  </div>
</section>
