<section>
  <div class="container">
    <div class=" bg-bgCandidate py-[20px] px-[10px] rounded-[15px] " >
      <div data-aos="fade-left" data-aos-delay="200" class="text-center my-[20px] font-medium text-[25px] " >
        {{'candidate.title' | translate}}
      </div>
      <div>
        <owl-carousel-o [options]="customOptions">
          <ng-template  carouselSlide>
            <div class="text-center mx-[15px] " >
              <div class="bg-white rounded-[10px] px-[15px] py-[10px]" >
                <div class="w-fit rounded-full mx-auto " >
                  <img class=" rounded-full " src="./assets/images/Home/candidates/Ellipse 220.png" alt="image">
                </div>
                <div>
                  <h2 class="text-[#2C3E50] font-semibold text-[24px] leading-[28px] mt-[20px] mb-[10px]  " >
                    {{'candidate.candidate_name' | translate}}
                  </h2>
                  <p>
                    Financial advisor
                  </p>
                </div>
              </div>
              <div class="mt-[30px]" >
                <button class="  text-[18px] leading-[25px]  font-medium text-white border border-secondColor bg-secondColor px-[10px] py-[10px] rounded-[15px] " >
                  {{'candidate.button' | translate}}
                </button>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="text-center mx-[15px] " >
              <div class="bg-white rounded-[10px] px-[15px] py-[10px]" >
                <div class="w-fit rounded-full mx-auto " >
                  <img class=" rounded-full " src="./assets/images/Home/candidates/Ellipse 220 (1).png" alt="image">
                </div>
                <div>
                  <h2 class="text-[#2C3E50] font-semibold text-[24px] leading-[28px] mt-[20px] mb-[10px]  " >
                    {{'candidate.candidate_name' | translate}}
                  </h2>
                  <p>
                    Financial advisor
                  </p>
                </div>
              </div>
              <div class="mt-[30px]" >
                <button class="  text-[18px] leading-[25px]  font-medium text-white border border-secondColor bg-secondColor px-[10px] py-[10px] rounded-[15px] " >
                  {{'candidate.button' | translate}}
                </button>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="text-center mx-[15px] " >
              <div class="bg-white rounded-[10px] px-[15px] py-[10px]" >
                <div class="w-fit rounded-full mx-auto " >
                  <img class=" rounded-full " src="./assets/images/Home/candidates/Ellipse 220 (3).png" alt="image">
                </div>
                <div>
                  <h2 class="text-[#2C3E50] font-semibold text-[24px] leading-[28px] mt-[20px] mb-[10px]  " >
                    {{'candidate.candidate_name' | translate}}
                  </h2>
                  <p>
                    Financial advisor
                  </p>
                </div>
              </div>
              <div class="mt-[30px]" >
                <button class="  text-[18px] leading-[25px]  font-medium text-white border border-secondColor bg-secondColor px-[10px] py-[10px] rounded-[15px] " >
                  {{'candidate.button' | translate}}
                </button>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="text-center mx-[15px] " >
              <div class="bg-white rounded-[10px] px-[15px] py-[10px]" >
                <div class="w-fit rounded-full mx-auto " >
                  <img class=" rounded-full " src="./assets/images/Home/candidates/Ellipse 220 (4).png" alt="image">
                </div>
                <div>
                  <h2 class="text-[#2C3E50] font-semibold text-[24px] leading-[28px] mt-[20px] mb-[10px]  " >
                    {{'candidate.candidate_name' | translate}}
                  </h2>
                  <p>
                    Financial advisor
                  </p>
                </div>
              </div>
              <div class="mt-[30px]" >
                <button class="  text-[18px] leading-[25px]  font-medium text-white border border-secondColor bg-secondColor px-[10px] py-[10px] rounded-[15px] " >
                  {{'candidate.button' | translate}}
                </button>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="text-center mx-[15px] " >
              <div class="bg-white rounded-[10px] px-[15px] py-[10px]" >
                <div class="w-fit rounded-full mx-auto " >
                  <img class=" rounded-full " src="./assets/images/Home/candidates/Ellipse 220 (2).png" alt="image">
                </div>
                <div>
                  <h2 class="text-[#2C3E50] font-semibold text-[24px] leading-[28px] mt-[20px] mb-[10px]  " >
                    {{'candidate.candidate_name' | translate}}
                  </h2>
                  <p>
                    Financial advisor
                  </p>
                </div>
              </div>
              <div class="mt-[30px]" >
                <button class="  text-[18px] leading-[25px]  font-medium text-white border border-secondColor bg-secondColor px-[10px] py-[10px] rounded-[15px] " >
                  {{'candidate.button' | translate}}
                </button>
              </div>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>
